


.search-section {
    background-image: url('src/images/curd2.jpg');
    /* background-image: url("src/images/curd3.png"); */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
    background-color: #d09097;
    padding: 20px;
    text-align: center;
  }
  .search-section h2 {
    color: #333;
  }
  form {
    margin-top: 20px;
  }
  input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }
  button {
    padding: 10px 20px;
    background-color: #d09097;
    color: black;
    border: none;
    cursor: pointer;
  }  
  
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
  }
  .product-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .price {
    font-size: 18px;
    color: #333;
  }
  .ratings {
    margin-bottom: 10px;
  }
  .ratings span {
    font-size: 20px;
    color: #f8d533;
  }
  .add-to-cart {
    background-color: #d09097;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .add-to-cart:hover {
    background-color: #0d0d0e;
  }  
  .quantity-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .quantity-input button {
    background-color: #d09097;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .quantity-input input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #fcf9f9;
    border-radius: 5px;
    margin: 0 10px;
  }        