body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 1;
    min-height: 100vh;
    backdrop-filter: grayscale(50%);
  }

  .registration {
    display: flex;
    flex-direction: column;
    gap:5px;
  }

  h2 {
    text-align: center;
    color: #000;
    font-family: 'Kaushan Script', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .welcome {
    background-image: url('../images/banner.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-size: cover; */
    height: 290px;
  }

  .submit {
    align-self: end;
  }

  button {
    padding: 10px;
    background: #416f83;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #259a8e;
  }
  