body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('../images/banner.jpg'); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 1;
    min-height: 100vh; */
  }
  
  .register {
    border: 1px solid #adadad;
    border-radius: 10px;
    background-color: #416f83;
    padding: 15%;
    box-shadow: 10px 10px 8px 10px #949494;
    width: 100%;
  }

  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .registration {
    display: flex;
    flex-direction: column;
    gap:2px;
  }

  h2 {
    text-align: center;
    color: #000;
    font-family: 'Kaushan Script', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit {
    align-self: end;
  }

  button {
    padding: 10px;
    background: #2a9f93;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #259a8e;
  }
  