

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}


.admin-body {
  background-color: #3f1e1e; 
}

.admin-login-container {
  background-color: rgba(79, 30, 30, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.admin-icon {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.label-default {
  font-weight: bold;
}

.input-default {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-primary:hover {
  background-color: #0056b3;
}
