.contact-section {
    background-image: url('src/images/welcome.jpg');
    background-size: cover;
    background-position: center;
    color: #d09097; /* Set text color to be visible on the background image */
    padding: 100px 0; /* Adjust padding as needed */
    text-align: center;
  }
  .contact-info-section {
    background-color: #f9f9f9; /* Set background color as needed */
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center;
  }
  .contact-info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .contact-info-item {
    margin: 0 15px;
  }
  .contact-info-item img {
    
    height: 300px;
  }
  .contact-info-item h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .contact-info-item p {
    font-size: small;
    line-height: 2;
  }        